@model LibraryManagement.ViewModels.LibraryBranchViewModel

<h1>
    Library Branch Details and Update
</h1>
<br/>
<div>
    <h2>Branch Information</h2>
    <p>Branch ID: @Model.BranchId</p>
    <p>Branch Name: @Model.BranchName</p>
</div>
<br>
<div>
    <h2>Update Branch Information</h2>
    <form asp-action="Edit">
        <input type="hidden" asp-for="BranchId" />
        <div class="form-group">
            <label asp-for="BranchName">Enter New Branch Name</label>
            <input asp-for="BranchName" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
</div>